{% extends "base.html" %}
{% block content %}
<div class="form-div" align="center">
    <h1>Cadastro de Tarefas</h1>
    <form method="post">
        <div class="form-text-input">
            {{ form.tar_descricao }}
        </div>
        <div class="form-text-input">
            {{ form.tar_setor }}
        </div>
        <div class="form-select">
            {{ form.usu_codigo }}
        </div>
        <div class="form-select">
            {{ form.tar_prioridade }}
        </div>
        <div class="form-button">
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}




