{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<div class="form-div" align="center">
    <h1>Cadastro de Tarefas</h1>
    <form method="post">
        <div class="form-text-input">
            {{ form.tar_descricao }}
        </div>
        <div class="form-text-input">
            {{ form.tar_setor }}
        </div>
        <div class="form-text-input">
            {{ form.usu_codigo }}
        </div>
        <div class="form-text-input">
            {{ form.tar_prioridade }}
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>

{% endblock %}




