{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Tarefas</h1>
<div class="master">
    <div class="status-completa">
        <h2>completas</h2>
        {% for t in tarefas %}
        {% if t.tar_status == "Completa" %}
        <div class="content-box">
            <div class="content-box-info">
                <b>Descrição:</b> <i>{{ t.tar_descricao }}</i>
                <br>
                <b>Setor:</b> <i>{{ t.tar_setor }}</i>
                <br>
                <b>Prioridade:</b> <i>{{ t.tar_prioridade }}</i>
                <br>
                <b>Vinculado a:</b> <i>{{ t.usu_codigo }}</i>
            </div>
            <div class="content-box-buttons">
                {% with writing_img="img/writing.png" delete_img="img/delete.png"%}
                <button class="edit-button"><img class="button-image" src="{% static writing_img %}"></button>
                <button class="delete-button" onclick="return confirm('Excluir esta tarefa?');">
                    <img class="button-image" src="{% static delete_img %}"></button>
                {% endwith %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="status-pendente">
        <h2>pendentes</h2>
        {% for t in tarefas %}
        {% if t.tar_status == "Pendente" %}
        <div class="content-box">
            <div class="content-box-info">
                <b>Descrição:</b> <i>{{ t.tar_descricao }}</i>
                <br>
                <b>Setor:</b> <i>{{ t.tar_setor }}</i>
                <br>
                <b>Prioridade:</b> <i>{{ t.tar_prioridade }}</i>
                <br>
                <b>Vinculado a:</b> <i>{{ t.usu_codigo }}</i>
            </div>
            <div class="content-box-buttons">
                {% with writing_img="img/writing.png" delete_img="img/delete.png"%}
                <button class="edit-button"><img class="button-image" src="{% static writing_img %}"></button>
                <button class="delete-button" onclick="return confirm('Excluir esta tarefa?');"><img class="button-image" src="{% static delete_img %}"></button>
                {% endwith %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}