.container {
   background-color: #4477b2;
   color: white;
   display: flex;
   gap: 35%;

   padding-left: 1rem;
   padding-bottom: 3rem;

   border-radius: 0.3rem;

}

.container .logo {
    padding-top: 2rem;
    font-size: 1.7rem;
    padding-left: 1rem;


}


.container .links {
     display: flex;
     gap: 30px;
     padding-top: 1rem;
     padding-right: 1rem;





}

.container .links a {
    text-decoration: none;
    color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    background-color: black;
    color: black;

    padding-bottom: 0.2rem;

    border-radius: 0.3rem;
    border: none;
}