

.container {
   background: linear-gradient(111.5deg, rgb(20, 100, 196) 0.4%, rgb(33, 152, 214) 100.2%);
   color: white;
   display: flex;
   gap: 35%;

   padding-left: 1rem;
   padding-bottom: 3rem;

   border-radius: 0.3rem;

}

.container .logo {
    padding-top: 2rem;
    font-size: 1.7rem;
    padding-left: 1rem;


}


.container .links {
     display: flex;
     gap: 30px;
     padding-top: 1rem;
     padding-right: 1rem;
}

.container .links a {
    color: white;


}

body {
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    background-color: black;
    color: black;

    padding-bottom: 0.2rem;

    border-radius: 0.3rem;
    border: none;
}

.form-div form .form-text-input {
    padding-bottom: 0.3rem;

}

.form-div input {
    padding: 0.5rem;
    padding-right: 15rem;
    border: 0rem;


}

.form-div .form-select {
    padding-bottom: 0.3rem;


}

.form-div select {
    padding: 0.4rem;
    padding-right: 22.36rem;
    border-radius: 0rem;
    border: 0rem;

}

.form-div .form-button {
    padding-top: 2rem;
}

.form-div button {
    padding: 0.6rem;
    width: 6rem;
    border: 0rem;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 0.3rem;

}