<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    <header>Cadastro de Tarefas</header>
    <form action="#" method="post" id="form-tarefas">
        <input type="text" required="required" placeholder="Descrição">
        <input type="text" required="required" placeholder="Setor">

        <select required="required" >Usuário
            <option value="{ "></option>

        </select>



    </form>




</body>
</html>
